capstone.code-workspace
data/sbir/
data/vocab_taxon_lod/
.DS_Store
data/sbir/sbirTopics_2008to2018.json
data/sample_pulledTopSol.json
data/shp/

repo_redirect_index.html
myapp/data/sbir_2008to2018_FULLINDEX_clean.json
myapp/data/sbir_2008to2018_noAbstract.csv
index.html
process/~$ckground_writeup.docx
process/background_writeup.docx
