capstone.code-workspace
data/sbir/
data/vocab_taxon_lod/
.DS_Store
data/sbir/sbirTopics_2008to2018.json
data/sample_pulledTopSol.json
data/shp/

app/data/sbir_2008to2018_FULLINDEX_clean.json
app/data/sbir_2008to2018_noAbstract.csv
process/~$ckground_writeup.docx
process/background_writeup.docx
process/dissertate-CUNY-master/
scripts/exclude_from_repo/reproject_latlong.py
scripts/exclude_from_repo/reformat_Migration_Industry_byCongDist.py
scripts/exclude_from_repo/reformat_Migration_Industry_byCounty.py
scripts/exclude_from_repo/get_SBIRdata.py
process/whitepaper_draft_04192021.docx
process/~$itepaper_draft_04192021.docx
app/data/sbir_2008to2018_FULLINDEX_clean.json
analytics_examples.md
app/index_originalTrialLayout.html
app/main_preInit_backup02282021.js