body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  margin: 24px;
  background: #fefdfd;
  line-height: 1.45em;
  
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
  fill: #242424;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  fill: #242424;
}


#sidebar {
  float: left;
  width: 20vw;
  height: 100vw;
  margin-top: 0.75%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 2%;
  background-color: #f2f2f2;
  border: 2px solid;
  border-color:black;

}


#col1 {
  float: left;
  width: 70vw;
  height: 100vw;
}

/* Clear floats after the columns */
#mainpanel:after {
  content: "";
  display: table;
  clear: both;
  
}


/* tooltip header */
.varinfo-group:before,
.varinfo-group:after {
  content: "";
  display: table;
}
.varinfo-group:after {
  clear: both;
}
.varinfo-group {
  width: 70vw;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1%;
  background-color: rgb(227, 227, 227);
  border-top: 2px solid;
  border-bottom: 1px solid;
  border-color: #242424;
  clear: both;
  *zoom: 1;
  position: relative;
  clear:both;
}

.legend {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  height: 5vw;
  width: 33%;
  padding-bottom: 2%;  
  float: left;
  transform: translate(6%,33%);
  padding: 0;
  height: 5vw;
  font-size: 9px;
}
/*
.legArea {
  float: left;
  transform: translate(6%,33%);
  padding: 0;
  height: 5vw;
  font-size: 9px;
}

.legendTitle{
  width: 66%;
  transform: translate(15%,28%);
  text-anchor: left;
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 9px;
}*/

.tooltip {
  float: left;
  position: absolute;
  top: 33%;
  left: 33%;
  text-anchor: left;
  color: black;
  font-size: 1em;
  font-style: bold !important;
}




#example {
  margin: 2%;
  width: 100%;
  height: 16%;
}


.axis .label {
  font-size: 1em;
}

.axis .tick {
  font-size: 0.85em;
}

.sources, .instructions {
  font-size: 1em;
  width: 100%;
  color: rgb(57, 56, 56);
}
.sources {
  flex-wrap: wrap;
  margin: 2% 1% 1% 1%;
}
.instructions {
  margin: 2% 8% 1% 1%;
}

#searchbar {
  background-color: rgb(227, 227, 227);
  border-top: 1.5px solid;
  border-bottom: 1.5px solid;
  border-color: #242424;
  height: 3vw;
  width: 70vw;
  font: 'Open Sans', sans-serif;
  font-size: 1.1em;
  
}
#search-label{
  padding-top: 1em;
  padding-left: 1.5em;
  float:left;
}
#txtSearch {
  width: 67%;
  float: left;
  height: 2vw;
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 1%;

}

#mapid { height: 360px; }


/* Component containers
----------------------------------*/
.ui-widget {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.1em;
}
.ui-widget .ui-widget { 
  font-size: 1em; 
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 1em; 
}
.ui-widget-content { 
  border: 1px solid #aaaaaa; 
  background: #ffffff; 
  color: #222222; 
}
.ui-widget-content a { 
  color: #222222; 
}
.ui-widget-header { 
  border: 1px solid #aaaaaa; 
  background: #cccccc; 
  color: #222222; 
  font-weight: bold; }
.ui-widget-header a { 
  color: blue !important; 
}


a { color: #6be; text-decoration: none; }
      .row, .header, .cell { height: 18px; }
      .row, .header { clear: left; }
      .header { font-weight: bold; }
      .cell { float: left; overflow: hidden; white-space: nowrap; width: 100px; }
      .col-0 { width: 180px; }


a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}

/*SlickGrid */
#grid {
  width: 70vw !important;  /* vs jquery resizable */
  height: 260px;
  margin-top: 0px;
}
.slick-header-column {
  font-weight:bold;
  cursor: move;
  border-right: 1px solid #bbb !important;
  color: black;
  font-size: 10px;
}


.slick-cell {
  border: none !important;
}
.slick-row.odd {
  background: rgba(0,0,0,0.05);
}
.slick-row {
  height: 24px !important;
  line-height: 24px;
}
.slick-resizable-handle {
  background: rgba(0,0,0,0.03);
  width: 8px;
}


.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

/* jquery resizable */
.ui-resizable {
  padding-bottom: 10px;
  position: relative;
}
.ui-resizable-handle {
  background: rgba(0,0,0,0.05);
}
.ui-resizable-s {
  height: 10px;
  width: 100%;
  cursor: s-resize;
  position: absolute;
  bottom: 0px;
}


#pager {
  width: 70vw;
  bottom: 306px;
  height: 20px;
}


.parcoords canvas {
  opacity: 1;
  -moz-transition: opacity 0.75s !important;
  -webkit-transition: opacity 0.75s !important;
  -o-transition: opacity 0.75s !important;
}