
html, body {
    height: 100vw;

}
#title-panel{
    width: 100vw;
    padding: 2%;
}
#page-title{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#intro-panel{
    padding-left: 12%;
    padding-right: 12%;
    font-size: 18px;
}

#navbar-top{
    margin-bottom: 3%;
}

#main-panel{
    padding-left: 4%;
    padding-right: 4%;

}


/*--- SCROLL DOWN button ---*/
#fullscreen {
    margin-top: 12.5vw;
    margin-bottom: 25vw;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*border: 3px solid green;*/
    text-align: center;
    
}
.btn btn-block {
    position: relative;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
#downbutton {
    height: 48px;
    width: 48px;
    color: lightgray;
}
#downbutton:hover{
    color:darkslategray;
}

    

/* ---- GENERAL PAGE COMPONENTS --- */

.dropdown-item {
    font-size: 0.85em;
}


/* ---- LEFT PANEL: MAP, PARCOORDS, SLICKGRID ---- */
#map-par-panel{
    padding-top: 1%;
    height: 80vw;   
}

#map{
    height: 32%;
    width: 100%;
    background-color: #555;
}

#legend-infobar-nav{
    width: 100%;
    position: relative;
}

.legend {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    height: 4vw;
    padding-bottom: 0%;  
    float: left;
    transform: translate(6%,24%);
    padding: 0;
    margin-right: 1em;
    width: fit-content;
    font-size: 0.6em;
}


.legendTitle{
    width: 66%;
    text-anchor: left;
    transform: translate(12%,-10%);
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 0.6em;
}
.legendCells .label text{
    color: white;
}
#info-bar {
    float: left;
    width: inherit;
    position: relative;
    height: 100%;
    margin-left: -5em;
    vertical-align: middle;
    text-anchor: left;
    font-size: 0.7em;
    margin-top: 0.5em;
}

.parcoords-info-circle{
    width: 100%;
    float: right;
    position: absolute;
    vertical-align: bottom;
    transform: translate(96.5%,150%);

}
#info-circle-icon{
    fill: rgb(65, 65, 65);
}
#info-circle-icon:hover {
    fill: #3c73eb;
}


  
#parcoords-search{   
    float: right;
    margin: 1em;
    min-width: 10vw;
    width: 20vw;
    font-size: 0.8em;
}

#funded-radio {
    transform: translate(0%,25%);
    color: rgb(163, 163, 163);
    font-size: 0.8em;
    margin-right: 0.5em;
    margin-left: 0.5em;

}


/*canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}*/
#parcoords-container{
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 18%;
}

#parcoords{
    position: relative;
    width: 100%;
    height: 89%;
    padding-left: 0.5%;
    padding-right: 1%;
    padding-top: 1.75%;
    padding-bottom: 0.75%;
    margin-bottom: 1%;
}

.popover{
    margin-right: 1.5em !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: -0.85em !important;
    border: none;
    color: rgb(78, 78, 78);
    font-size: 0.85em;
    background: none;
    
}
.popover-body{
    width: fit-content;
    height: fit-content;
    padding: 0.05em;
    font-weight: bold;
    
    
}
.popover-arrow {
    visibility:hidden;
}

.axis-remove:hover{
    color: rgb(163, 22, 22);
}

.axis .label {
    font-size: 0.8vw;
    color: black;
}
  
.axis .tick {
    font-size: 0.75vw;
}


.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}






/* Component containers
----------------------------------*/
.ui-widget {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1em;
  }
  .ui-widget .ui-widget { 
    font-size: 1em; 
  }
  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1em; 
  }
  .ui-widget-content { 
    border: 1px solid #aaaaaa; 
    background: #ffffff; 
    color: #222222; 
  }
  .ui-widget-content a { 
    color: #222222; 
  }
  .ui-widget-header { 
    border: 1px solid #aaaaaa; 
    background: #cccccc; 
    color: #222222; 
    font-weight: bold; }
  .ui-widget-header a { 
    color: blue !important; 
  }



/*SlickGrid */


#districts-table {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    height: 24%;
    overflow: auto;
    font-size: 0.8em;
}

.slick-header > .slick-header-columns > .slick-header-column {
    -webkit-box-sizing: content-box;                                                              
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

.slick-header-column {
    font-weight:bold;
    cursor: move;
    border-right: 1px solid #bbb !important;
    color: black;
    font-size: 10px;
}

.slick-cell {
    border: none !important;
}
.slick-row.odd {
    background: rgba(0,0,0,0.05);
}
.slick-row {
    height: 24px !important;
    line-height: 24px;
}
.slick-resizable-handle {
    background: rgba(0,0,0,0.03);
    width: 8px;
}
  
  

  
/* jquery resizable */
.ui-resizable {
    padding-bottom: 10px;
    position: relative;
}
.ui-resizable-handle {
    background: rgba(0,0,0,0.05);
}
.ui-resizable-s {
    height: 10px;
    width: 100%;
    cursor: s-resize;
    position: absolute;
    bottom: 0px;
}
  
  
#pager {
    bottom: 306px;
    height: 20px;
    font-size: 0.4em;
}
  
  
.parcoords canvas {
    opacity: 1;
    -moz-transition: opacity 0.75s !important;
    -webkit-transition: opacity 0.75s !important;
    -o-transition: opacity 0.75s !important;
}





/* --------------  SUMMARY PANEL ------------- */


#summary-panel{
    border-left: 1px solid lightgray;
    margin-top: 1%;
    height: 60vw;

}


#bargraph-area, #vocab-pills-area {
    height: 40%;
    width: 100%;
    margin-top: 2em;
    padding-bottom: 2.5em;
    font-size: 0.9em;

}
#bargraph {
    height: 80%;
    width: 100%;
    background-color: lightsteelblue;
}
#vocab-pills{
    height: 80%;
    width: 100%;
    background-color: lightsteelblue;
    padding: 0.8em;
    overflow-y: scroll;
}

#term-badge{
    margin: 0.2em;
    font-size: 0.8em;
}

#left-panel-spacer{
    height: 14vw;
}



/*------- FOOTER ---------*/


#footer-row{
    padding-top: 3em;
}


