
html, body {
   
    height: 180vh;
    width: 100vw;
  
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar:horizontal {
    height: 0;
    width: 0;
    display: none;
}
  
body::-webkit-scrollbar-thumb:horizontal {
display: none;
}


/* Force a macOS style scrollbar for windows users */




#summary-panel::-webkit-scrollbar       {background-color: transparent; width:9px}
#summary-panel::-webkit-scrollbar-track {background-color: transparent}
#summary-panel::-webkit-scrollbar-thumb {background-color:#808080;border-radius:9px;border:none;}

.awards-pop-container::-webkit-scrollbar       {background-color: transparent; width:7px}
.awards-pop-container::-webkit-scrollbar-track {background-color: transparent}
.awards-pop-container::-webkit-scrollbar-thumb {background-color:#808080;border-radius:7px;border:none;}

#districts-table::-webkit-scrollbar       {background-color: transparent; width:9px}
#districts-table::-webkit-scrollbar-track {background-color: transparent}
#districts-table::-webkit-scrollbar-thumb {background-color:#808080;border-radius:9px;border:1px solid #fff}

#bargraph::-webkit-scrollbar       {background-color: transparent; width:9px}
#bargraph::-webkit-scrollbar-track {background-color: transparent}
#bargraph::-webkit-scrollbar-thumb {background-color:#808080;border-radius:9px;border:1px solid #fff}

#vocab-pills::-webkit-scrollbar       {background-color: transparent; width:9px}
#vocab-pills::-webkit-scrollbar-track {background-color: transparent}
#vocab-pills::-webkit-scrollbar-thumb {background-color:#808080;border-radius:9px;border:1px solid #fff}







#title-panel{
    background-color: whitesmoke;
    width: 100vw;
    height: auto;
}
#page-title{
    text-align: center;
    padding-top: 20%;
    top:0;
}

#page-subtitle{

    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 33%;

}

#intro-panel{
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 18%;
    font-size: 1.35em;
    font-weight: 350;

    text-align: justify;
}
#intro-text{
    margin-bottom: 20%;
}

#navbar-top{
    margin-bottom: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px -1px, rgba(0, 0, 0, 0.3) 0px 2px 6px -2px;
}
.pub-inno-title:hover {
    /*text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;*/
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

#main-panel{
    padding-left: 3%;
    padding-right: 3%;

}


/*--- SCROLL DOWN button ---*/
#fullscreen {
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vh;
    width: 50%;
    /*border: 3px solid green;*/
    text-align: center;
    
}
.btn btn-block {
    position: relative;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
#downbutton {

    height: 48px;
    width: 48px;
    color: lightgray;
}
#downbutton:hover{
    color:darkslategray;
}

    

/* ---- GENERAL PAGE COMPONENTS --- */



.dropdown-item {
    font-size: 0.85em;
}
.year-input-container, .agency-input-container{
    width: 100%;
    background-color: rgb(33,38,41,0.9);
    padding: 0.5em;
    color:white;
}
.year-input, .agency-input {
    font-size: 0.85em !important;
}
.year-update-btn, .agency-update-btn {
    width: 100%;
   
   
}


.year-update-btn:hover, .year-update-btn:focus, .year-update-btn:active, .year-update-btn.active, .open>.dropdown-toggle.year-update-btn {
    color: #fff;
    background-color:  rgb(15,110,253,0.95);
    border-color:  rgb(15,110,253,0.95); /*set the color you want here*/
}
.agency-update-btn:hover, .agency-update-btn:focus, .agency-update-btn:active, .agency-update-btn.active, .open>.dropdown-toggle.agency-update-btn {
    color: #fff;
    background-color:  rgb(15,110,253,0.95);
    border-color:  rgb(15,110,253,0.95); /*set the color you want here*/
}




.update-divider {
    padding-top: 0.5em;
    border-top: 1px solid whitesmoke;
    
}

.form-check-input{
    transform: scale(0.75);
}


.year-input-label, .agency-input-label{
    font-size: 0.75em !important;

}



.user-tip-nav{
    font-size: 0.9em;
}
.modal-footer, .modal-header{
    background-color: #F8F9FA;
    
   
}


.modal-body{

}
#userTipsTabs{
    margin-bottom: 1em;
}
.tip-point{
    font-size: 0.8em;
    font-weight: bold;
    border-top: 1px solid gainsboro;
    padding-top: 0.5em;
}
.tip-description{
    font-size: 0.75em;
    font-weight: 300;
    justify-content: center;
    text-align: left;
    border-top: 1px solid gainsboro;
    padding-top: 0.5em;

}
.parcoords-img{
    width: 200px;
    height: 135.6px;

}
.parcoords-img-lg{
    width: 160px;
    height: 212px;

}






/* ---- LEFT PANEL: MAP, PARCOORDS, SLICKGRID ---- */
#map-par-panel{
    padding-top: 1%;
    height: 100vh;   
}

#map{
    height:45%;
    width: 100%;
}


.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    margin-bottom: 0.75em !important;
    margin-top: 0.25em !important;
    
}
.leaflet-popup-content-wrapper{
    border-radius: 6px !important;
    background-color: rgb(33,38,41) !important;
    opacity: 0.94;
}
.leaflet-popup-tip {
    background-color: rgb(33,38,41) !important;
    opacity: 0.94;

}



.awards-pop-header{
    position: sticky;
    background-color: rgb(33,38,41);
    opacity: 0.94;
    color: white;
    line-height: 1.75em;
    font-size: 1.25em;
    margin-bottom: 0.3em;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    border-bottom: 2px solid whitesmoke ;
}
.awards-pop-container{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white !important;
}

.awards-pop-col{
    margin: 0;
}
.awards-pop-company {
    margin-bottom: 0.2em !important;
}

/* the awards popover row item */
.awards-pop-info{
    border-bottom: 0.5px solid lightslategray;
    margin-bottom: 0.33em;
    margin-left: 0.04em;
    margin-right: 0.33em;
}
.awards-pop-title {
    font-size: 1.1em;
    margin-top: 0.2em !important;
    margin-bottom: 0 !important;

    display: block;
    padding: 0;
    font-weight: 500;
}
.awards-pop-agency{
    font-style: italic;
    font-size: 1em;
    margin-bottom: 0.35em !important;
    margin-top: 0 !important;
    display: block;
    padding: 0;

}
.awards-pop-amount{
    font-weight: 400;
    margin: 0 !important;
    padding: 0;
    display: block;
    border-width: 0;

}


#profiler-nav{
    width: 100%;
    position: relative;
}

#legend-infobar{
    background-color:rgb(248,249,250);
    box-shadow: 0 2px 1px -1px  rgba(60, 64, 67, 0.15);
    width: 100%;
    position: relative;
    height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0.75%;
}

.legend{
    font-size: 0.6em;
    margin-right: 2em;
    margin-top: 0.75em;
    width: auto;
    height: auto;
    
}

.leg-swatch-manual{
    opacity: 0.8;
}
.info-bar {
    display: block;
    font-size: 0.72em;
    text-anchor: left;
    padding-left: 2em;
    max-width: 100%;
    height: auto;
    
}

.funding-current-paletteInfoString{
    margin-top: 0.25em;
    font-size: 1.08em;

}




#bar-icons {
    padding-left: 30%;
    padding-right: 0%;
    margin-right: 0;
    height: fit-content;

  
    
}
/*
.legend {
    height: 4vw;
    padding-bottom: 0%;  
    float: left;
    transform: translate(6%,24%);
    padding: 0;
    margin-right: 1em;
    width: fit-content;
    font-size: 0.6em;
}



.legendTitle{
    width: 66%;
    text-anchor: left;
    transform: translate(12%,-10%);
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 0.6em;
}
.legendCells .label text{
    color: white;
}

#info-bar {
    float: left;
    width: inherit;
    position: relative;
    height: 100%;
    margin-left: -5em;
    vertical-align: middle;
    text-anchor: left;
    font-size: 0.7em;
    margin-top: 0.5em;
}


.parcoords-info-circle{
    width: 100%;
    float: right;
    position: absolute;
    vertical-align: bottom;
    transform: translate(96.5%,150%);

}*/
#info-circle-icon, #reload-parcoords-icon{
    fill: rgb(65, 65, 65);
}
#info-circle-icon:hover, #reload-parcoords-icon:hover {
    fill: #3c73eb;
}


  
#parcoords-search{   
    float: right;
    margin: 1em;
    min-width: 10vw;
    width: 20vw;
    font-size: 0.8em;
}

#funded-radio {
    transform: translate(0,30%);
    color: rgb(163, 163, 163);
    font-size: 0.8em;
    margin-right: 0.25em;
    margin-left: 0.25em;

}
.radio-inline{
    margin-right: 0.15em;
    
}

/*canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}*/
#parcoords-container{
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 25%;
}

#parcoords{
    position: relative;
    width: 100%;
    height: 89%;
    padding-left: 0.5%;
    padding-right: 1%;
    padding-top: 1.75%;
    padding-bottom: 0.75%;
    margin-bottom: 1%;
}



/* parcoords popovers */
.popover{
    margin-right: 1.5em !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: -0.55em !important;
    border: none;
    color: rgb(78, 78, 78);
    font-size: 0.95em;
    background: none;
    cursor: default;
    
}
.popover-body{
    width: fit-content;
    height: fit-content;
    padding: 0.05em;
    font-weight: bold;
    
    
}
.popover-arrow {
    visibility:hidden;
}



.axis-remove:hover{
    color: rgb(163, 22, 22);
}

.parcoords .axis .label {
    font-size: 1em;
    color: black;
}
  
.parcoords .axis .tick {
    font-size: 1em;
}


.parcoords .axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}





/* Component containers
----------------------------------*/
.ui-widget {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1em;
  }
  .ui-widget .ui-widget { 
    font-size: 1em; 
  }
  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1em; 
  }
  .ui-widget-content { 
    border: 1px solid #aaaaaa; 
    background: #ffffff; 
    color: #222222; 
  }
  .ui-widget-content a { 
    color: #222222; 
  }
  .ui-widget-header { 
    border: 1px solid #aaaaaa; 
    background: #cccccc; 
    color: #222222; 
    font-weight: bold; }
  .ui-widget-header a { 
    color: blue !important; 
  }



/*SlickGrid */

#districts-table {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    height: 30%;
    overflow: auto;
    font-size: 0.8em;
}

.slick-header > .slick-header-columns > .slick-header-column {
    -webkit-box-sizing: content-box;                                                              
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

.slick-header-column {
    font-weight:bold;
    cursor: move;
    border-right: 1px solid #bbb !important;
    color: black;
    font-size: 10px;
}

.slick-cell {
    border: none !important;
}
.slick-row.odd {
    background: rgba(0,0,0,0.05);
}
.slick-row {
    height: 24px !important;
    line-height: 24px;
}
.slick-resizable-handle {
    background: rgba(0,0,0,0.03);
    width: 8px;
}
  
  

  
/* jquery resizable */
.ui-resizable {
    padding-bottom: 10px;
    position: relative;
}
.ui-resizable-handle {
    background: rgba(0,0,0,0.05);
}
.ui-resizable-s {
    height: 10px;
    width: 100%;
    cursor: s-resize;
    position: absolute;
    bottom: 0px;
}
  
  
#pager {
    bottom: 306px;
    height: 20px;
    font-size: 0.4em;
}
  
  
.parcoords canvas {
    opacity: 1;
    -moz-transition: opacity 0.75s !important;
    -webkit-transition: opacity 0.75s !important;
    -o-transition: opacity 0.75s !important;
}





/* --------------  SUMMARY PANEL ------------- */


#summary-panel{
    border-left: 1px solid lightgray;
    margin-top: 1%;
    padding-right: 2%;
    height: 120vh;

}

#district-summary-text {

}

.jump-button, .download-button, .download-button-inactive{
    margin:0;
    padding: 0;
    color: lightgray;
    font-size: 0.75em;
}


.jump-button:hover{
    color:darkslategray;

}
.download-group:hover > .download-button{fill: darkslategray; color: darkslategray;}



.recips-table-header{
    position:sticky;
    top:0; 
    vertical-align: middle;

}

#bargraph-area, #vocab-pills-area {
    height: 40%;
    width: 100%;
    margin-top: 3em;
    padding-bottom: 2.5em;
    font-size: 0.9em;

}
.no-data-graph, .no-data-vocab{
    font-size: 0.87em;
    font-style: italic;
}
.no-data-graph {
    padding: 1em;
}

#bargraph {
    height: 98%;
    width: 100%;
    background-color: #f8f9fa;
    /*box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;*/

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: 1.5px solid rgb(222,226,230);
    overflow-y: auto;
    overflow-x: hidden;
    
    
}
.bar-x-ticks{
    font-size: 1em;
    font-weight: 500;
}
.bar-y-ticks {
    font-size: 1.15em;
}

.bargraph-rect{
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}




.bargraph-legend-rect{
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}


.grants-graph{
    position: relative;
    width: 100%;
    height: 100%;

}

.grants-details-row {
    height: 15%;
}
.grants-detail-col {
    background-color:  rgb(33,38,41,0.9);
    fill-opacity: 0.4;
    margin: 0.2em;
    border-radius: 6px;
    padding-top: 7.5%;
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;   

    color: whitesmoke

}

.indicator-main-row, .indicator-sub-row{
    text-align: center;
    vertical-align: middle;
}


.indicator-main-stat{
    font-size: 1.45em;
    font-weight: bold;
}
.indicator-sub-stat{
    font-size: 0.65em;
    font-weight: lighter;

}



#vocab-pills{
    height: 98%;
    width: 100%;
    background-color: #f8f9fa;
    border: 1.5px solid rgb(222,226,230);
    /*box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;*/

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;

 
}
.pill-container{
    width:fit-content;
    height:fit-content;
    float: left;
    margin: 0.05em;
}


#term-badge{
    margin: 0.2em;
    font-size: 0.9em;
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    cursor: default;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


/* vocab popovers */
.vocab-popover {
    background-color: gray !important;
    color: white !important;
    margin-right: 1.5em !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: -0.85em !important;
    font-size: 0.5em !important;
}

.vocab-popover-body{
    width: fit-content !important;
    height: fit-content !important;
    padding: 0.05em !important;
    font-weight:lighter !important;

}
.vocab-popover-arrow {
    visibility:visible !important;
}

.vocab-info-intro {
    font-size: 0.9em;
    font-weight:600;


}
.vocab-info-row {
    border-top: 0.25px solid lightslategray;
}
.vocab-top-entry {
    border-top: none !important;
}
.vocab-name p{
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0.25em;

}
.vocab-source a{
    font-weight:500;
    font-size: 0.9em;
}
.vocab-source p{
    font-weight: 400;
    font-size: 0.8em;
}


#right-panel-spacer{
    height: 25vh;
}



/*------- FOOTER ---------*/


#footer-row{
    padding-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.75em;
}



